= form_for @flight, url: journey_index_path do |f|
  = f.label :name
  = f.text_field :name

  = f.label :passengers
  = f.select :passengers, options_for_select(1..5)

  = f.fields_for :flight_plan do |plan|
    = plan.label :start_city
    = plan.text_field :start_city, placeholder: "Swansea"

    = plan.label :start_country
    = plan.text_field :start_country, placeholder: "UK"

    = plan.label :end_city
    = plan.text_field :end_city, placeholder: "Dusseldorf"

    = plan.label :end_country
    = plan.text_field :end_country, placeholder: "Germany"

  = f.submit