= form_for @flight, url: journey_index_path do |f|
  = f.label :name
  = f.text_field :name

  = f.label :passengers
  = f.select :passengers, options_for_select(0..5)

  = f.fields_for :flight_plan do |plan|
    = plan.label :start_airport, "Start IATA code"
    = plan.text_field :start_airport, placeholder: "LHR"

    = plan.label :end_airport, "End IATA code"
    = plan.text_field :end_airport, placeholder: "JFK"

  = f.submit