<!DOCTYPE html>
<html>
<head>
  <title>StrataPlan</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav class="large-border-radius-bottom">
    <ul>
      <li><%= link_to((image_tag "logo.png", id: "logo-main"), root_path) %></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "My journeys", journey_index_path if traveller_signed_in? %></li>
      <li>
        <menu class="sessions" type="list">
            <li><%= link_to "Register", new_traveller_registration_path %></li>
            <% if current_traveller %>
              <li><%= link_to "Sign out", destroy_traveller_session_path, method: "DELETE" %></li>
            <% else %>
              <li><%= link_to "Sign in", new_traveller_session_path %></li>
            <% end %>
        </menu>
      </li>
  </nav>
</header>

<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>